<h1>Card</h1>
<div class="card card--complete card--primary">
  <div class="card__title">
    <div class="card__icon">
      <button class="button button__add">
        <i class="material-icons">add</i>
      </button>
    </div>
    <h1>Add new weekly pin</h1>
  </div>
</div>
<div class="card card--complete card--primary">
  <div class="card__title">
    <div class="card__icon"></div>
    <h1>Hello</h1>
    <div class="card__leading">
      <p>7:00 am</p>
    </div>
  </div>
</div>
<div class="card card--complete card--primary">
  <div class="card__title">
    <div class="card__icon"></div>
    <h1>Hello</h1>
    <div class="card__leading">
      <p>7:00 am</p>
    </div>
  </div>
  <div class="card__details">
    <div class="label">Personal</div>
    <ul>
      <li>hello</li>
      <li>list</li>
      <li>test</li>
    </ul>
  </div>
</div>
<div class="card card--primary">
  <div class="card__title">
    <div class="card__icon"></div>
    <h1>Hello</h1>
    <div class="card__leading">
      <p>7:00 am</p>
    </div>
  </div>
  <div class="card__details">
    <div class="label">Personal</div>
    <ul>
      <li>hello</li>
      <li>list</li>
      <li>test</li>
    </ul>
  </div>
</div>
<div class="card card--primary">
  <div class="card__title">
    <div class="card__icon"></div>
    <h1>Hello</h1>
    <div class="card__leading">
      <p>7:00 am</p>
    </div>
  </div>
  <div class="card__details">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid odio
      deserunt eum quis, asperiores amet, odit vel laborum fugiat eos voluptatum
      iusto voluptatem cupiditate maxime. Voluptatibus accusamus ratione et
      incidunt.
    </p>
  </div>
</div>
<hr />
