@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/roboto-bold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #f66f15;
  color: #fff8f1;
  width: 12em;
  height: 100%;
  position: fixed;
  padding: 2em;
  font-family: "Roboto Regular";
}

nav h1,
nav h2,
nav h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto Bold";
}

.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-header-trailing {
  display: flex;
}

.nav-content {
  margin-left: 0.5em;
  margin-top: 3em;
}

.nav-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.nav-header-trailing button:first-child {
  margin-right: 0.1em;
}

.nav-header-trailing button,
.nav-content-header button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background: none;
  padding: 0.2em;
  border: none;
  border-radius: 8em;
  transition: background 150ms ease-in-out;
}

.nav-header-trailing button:hover,
.nav-content-header button:hover {
  cursor: pointer;
  background: #fd903e;
  transition: background 150ms ease-in-out;
}

.nav-header button img,
.nav-content-header button img {
  width: 1em;
  /* fill: #fff8f1; */
}

.nav-content h2 {
  font-family: "Roboto Regular";
  font-size: 1em;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.6);
  padding: 3em 0;
}

.overlay-content {
  width: 30em;
  background: white;
  padding: 1em;
  margin: auto;
}

#overlay .overlay-content .overlay-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto Bold";
}

#overlay .overlay-content .overlay-header #close:hover {
  cursor: pointer;
  background: #fd903e;
  transition: background 150ms ease-in-out;
}

#overlay .overlay-content .overlay-header #close img {
  width: 1em;
}

#overlay #close {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background: none;
  padding: 0.2em;
  border: none;
  border-radius: 8em;
  transition: background 150ms ease-in-out;
}

.overlay-content ul {
  font-family: "Roboto Regular";
  padding: 0;
}

.overlay-content ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* switch */