.button {
  border: none;
  margin: 1em;
  padding: 0.3em 0.4em 0.1em 0.4em;
  border-radius: 0.5em;
  background: #fafbfd;
  transition: background 300ms ease-in-out;
  cursor: pointer;
  &--primary {
    background: #f9d57f;
  }
  &__add {
    i {
      transform: translateY(1px);
    }
  }
  //   &__add {
  //     background: none;
  //     background-image: url("src/assets/icons/button.svg");
  //     background-size: 4em;
  //     background-size: contain;
  //     color: white;
  //     background-repeat: no-repeat;
  //     &:hover {
  //       background-color: none !important;
  //       background-image: url("src/assets/icons/button.svg");
  //     }
  //   }
  &:hover {
    background: rgb(226 228 232);
    transition: background 300ms ease-in-out;
  }
}
