.card {
  border-radius: 1em;
  padding: 0.75em 2em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1em;
  &__title{
    display: flex;
    align-items: center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin: 0;
    // margin-top: 0.2em;
    font-size: 1em;
    flex-basis: 80%;
  }
  p {
    font-weight: 400;
  }
  &--primary {
    background: #fafbfd;
  }
  &--secondary, &--complete {
    background: #f9d57f;
    .card__details{
      .label{
        background: rgba(255,255,255,0.6);
      }
    }
  }
  &--column {
    flex-direction: column;
  }
  &--row {
    flex-direction: row;
  }
  &__icon {
    background: white;
    // padding: 0.5em;
    // width: 2em;
    // height: 2em;
    border-radius: 0.5em;
    margin-right: 1em;
    button{
      margin: 0;
      padding: 0.5em;
    }
    button:hover{
      background: rgb(226 228 232);
    }
  }
  &__leading {
    padding: 0.5em;
    flex-basis: 20%;
    text-align: right;
    p{
        margin: 0;
        // margin-top: 0.2em;
        font-weight: 600;
        font-size: 0.7em;
        text-transform: uppercase;
    }
  }
  &__details{
    .label{
      background: #f9d57f;
      border-radius: 3em;
      display: inline;
      padding: 0.3em 1em;
      font-size: 0.7em;
      margin-left: 1em;
    }
      ul{
        padding: 0;
        padding-left: 4.5em;
        color: rgba(0,0,0,0.8);
        font-size: 0.8em;
      }
      p{
        padding-left: 4em;
        font-size: 0.8em;
        color: rgba(0,0,0,0.8);
        transition: padding 300ms ease-in-out;
        @media only screen and (max-width: 600px) {
            padding-left: 1em;
            transition: padding 300ms ease-in-out;
        }
      }
  }
}
