<div class="todo">
    <div class="tags">
        <div class="tag">
            <button>
                <h3>Work</h3>
            </button>
        </div>
    </div>
    <div class="title">
        <h2>Update SSL cert</h2>
    </div>
    <div class="details">
        <div class="detail">
            <div class="icon">1</div>
            <div class="text">1st April 2022</div>
        </div>
        <div class="detail">
            <div class="icon">1</div>
            <div class="text">1st April 2022</div>
        </div>
    </div>
</div>